<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         defaultTestSuite="PHRETS Unit Test Suite"
>
    <testsuites>
        <testsuite name="PHRETS Unit Test Suite">
            <directory>./tests/</directory>
            <exclude>./tests/Integration/</exclude>
        </testsuite>
        <testsuite name="PHRETS Recorded Integration Test Suite">
            <directory>./tests/Integration/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
        </exclude>
    </coverage>

    <php>
        <env name="PHRETS_TESTING_USERNAME" value="fake"/>
        <env name="PHRETS_TESTING_PASSWORD" value="fake"/>
    </php>
</phpunit>
